</tbody> {{! Close sql_table body. }}

{{#groups}}
    <tbody>
        <tr class="clickable bg-gray" data-toggle="collapse" data-target="#group-of-rows-{{uniqueid}}" aria-expanded="false" aria-controls="group-of-rows-{{uniqueid}}">
            <td><i class="fa fa-plus-square"></i> {{{activitymodule}}}</td>
            <td>{{{totalelapsedtime}}}</td>
            <td>{{{firstaccess}}}</td>
            <td>{{{lastaccess}}}</td>
        </tr>
    </tbody>
    <tbody id="group-of-rows-{{uniqueid}}" class="collapse">
        {{#subrows}}
        <tr>
            <td> — {{{activitymodule}}} {{#str}}session, local_time_tracking{{/str}}</td>
            <td>{{{elapsedtime}}}</td>
            <td>{{{timecreated}}}</td>
            <td>{{{timemodified}}}</td>
        </tr>
        {{/subrows}}
    </tbody>
{{/groups}}

<tbody> {{! Start sql_table body. }}